<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= design.title %></title>
</head>
<body>
  <h1><%= design.title %></h1>
  <p>Published: <%= design.isPublished ? "Yes" : "No" %></p>

  <a href="/designs">Back to All Designs</a>
</body>
</html>
